/* Conteudo do cabeçalho */
header {
    padding: 1.6rem;
    text-align: center;
    background: var(--color-secundaria);
}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    margin: auto;
}

header div img {
    width: 27px;
}

header div img:hover {
    cursor: pointer;
}

header div nav a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-primaria);
    margin: 20px;
}

header div nav a:hover {
    border-bottom: 2px solid var(--color-quaternaria);
}